.container {
  text-align: center;
  list-style-type: none;
  display: block;
  margin: 0 auto;
}

button {
  margin-bottom: 10px;
}

#total {
  display:none;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;

}
